@tailwind base;
@tailwind components;
@tailwind utilities;

.container-component {
  @apply flex my-8 items-center justify-center w-full;
}

.container-section {
  @apply flex items-center justify-between flex-wrap;
}

.container-section-start {
  @apply flex items-start justify-between flex-wrap;
}


@font-face {
  font-family: 'Hogira';
  src: url('/fonts/Hogira-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Hogira';
  src: url('/fonts/Hogira-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'HogiraBold';
  src: url('/fonts/Hogira-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Hogira';
  src: url('/fonts/Hogira-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Monument';
  src: url('/fonts/MonumentExtended-Regular') format('opentype');
  font-weight: 400;
}

/* globals.css */

@font-face {
  font-family: 'MonumentExtended';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 800;
  /* UltraBold font weight */
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtendedBold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: 800;
  /* UltraBold font weight */
  font-style: normal;
}

.monument-regular {
  font-family: 'MonumentExtended', sans-serif;
  font-weight: 200;
  /* UltraBold font */
}

.monument-bold {
  font-family: 'MonumentExtendedBold', sans-serif;
  font-weight: 800;
  /* UltraBold font */
}

.hogira-bold {
  font-family: 'HogiraBold', sans-serif;
  font-weight: 800;
  /* UltraBold font */
}

h1 {
  font-family: 'monumentBold', sans-serif;
}

.whitebg {
  background-image: url('/images/whitebg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* Add this */
  height: 100%;
  /* Add this */
}

.whitebg::before {
  content: '';
  position: fixed;
  /* Change from absolute to fixed */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

/* Make sure content stays above the overlay */
.whitebg>* {
  position: relative;
  z-index: 2;
}

.bg-about {
  background-image: url('/images/abt.webp');
  background-size: cover;
  /* Makes image cover entire container */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents image from repeating */
  background-attachment: fixed;
  /* Optional: Creates parallax effect */

  /* Optional but often useful */
  min-height: 100vh;
  /* Full viewport height */
  width: 100%;
  /* Full width */
  /* For positioning overlays if needed */
}


/* If you need a dark overlay */


/* For content on top of background */